<% 
    var musicUrl = page.neteasemusic;
    var music = musicUrl.slice(musicUrl.indexOf("id=") + 3,musicUrl.length);
%>
<div class="bgmusic">
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=<%= music %>&auto=0&height=66"></iframe>
</div>