* 
  box-sizing border-box

img 
  max-width 100%


@media only screen and (max-width: 768px) 
  .container 
    width: 95%;
    

@media only screen and (min-width: 768px) 
  .container 
    width: 60%;
    

a 
  word-break break-all
  transition 0.5s

@import "_partial/header"
@import "_partial/index"
@import "_partial/pagination"
@import "_partial/category"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/post"
@import "_partial/about-info"
@import "_partial/gallery"
@import "_partial/animation"
@import "_partial/to-top"
