@import "common"
@import "variables"
.author-info-wrapper
  children-in-center()
  width 100%
  margin 50px auto

.author-info
  children-in-center()
  width 100%
.avatar-top
  children-in-center()
.slogan
  font-family $font-default
  font-size 1.3em
  padding 50px 50px
  text-align center
.avatar
  width 100px
  height 100px
.author-name
  margin 10px auto
  font-family $font-default
  font-size 1.2em