@import "common"
.author-info-wrapper
    children-in-center()
    width 100%
    margin 50px auto

.author-info
    width 100%
.avatar-top
    children-in-center()
.slogan
    font 1.3em arial
    padding 50px 50px
    text-align center
.avatar
    width 100px
    height 100px