@keyframes fadeIn 
  from 
    opacity 0
  to 
    opacity 1

@keyframes rotate
  10% {transform: rotate(5deg)}
  40% {transform: rotate(10deg)}
  50% {transform: rotate(0)}
  60% {transform: rotate(-5deg)}
  90% {transform: rotate(-10deg)}
  100% {transform: rotate(0)}