@import "common"
@import "variables"
.archive-wrapper
  width 80%
  margin 20px 10%
  font-family $font-default
  font-size 1em
  a
    text-decoration: none
    margin 10px auto
.archive-post-title
  font-family $font-default
  font-size 1.1em
.archive-block
  margin 60px auto
