@import "common"
@import "variables"
.categories-wrapper 
  position relative
  top 30px
  right 20px
  children-in-center()
  font-family $font-default
  font-size 1.3em
  ul 
    list-style-type none
    text-align center
  li
    display block
    margin 30px auto
  a 
    text-decoration: none