children-in-center(){
  display flex
  flex-direction column
  justify-content center
  align-items center
}
.division 
  width 100%
  margin 5px 0 10px 0
  border-bottom 1px solid rgb(217, 221, 228)
.hideoverflow 
  overflow hidden