@import "common"

.pagination-wrapper 
    margin 150px 0 0 0
    children-in-center()
    font 2.2em Arial
    ul 
        position relative
        right 10px
        list-style-type none
    li
        display inline-block
    a
        width 40px
        display block
        color gray
        &:hover 
            color rgb(26, 67, 121)